<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="QueryRowsPerfFile" value="C:\Code\DotNet\GarudaUtil\Garuda.Data.Test\QueryRowsPerfFile.csv" />
    <add key="BulkCopyPerfFile" value="C:\Code\DotNet\GarudaUtil\Garuda.Data.Test\BulkCopyPerfFile.csv" />
    <add key="BulkCopySalted3PerfFile" value="C:\Code\DotNet\GarudaUtil\Garuda.Data.Test\BulkCopySalted3PerfFile.csv" />
    <add key="BulkCopyCsvTestFile" value="C:\Code\DotNet\GarudaUtil\Garuda.Data.Test\BulkCopyTest.csv"/>
  </appSettings>
</configuration>